/* imageset
---------------------------------------------------*/

.minilogo {
    background-image: url("./images/art-mini-logo.png");
	background-repeat: no-repeat;
	background-position: top right;
	width: 133px;
	height: 44px;

}
